<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-title" content="Okoshi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="facebook-domain-verification" content="zpk3t04bob7wh9vyekm0buhqv0wnsl" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M6PVQVL');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" type="image/png" href="/images/favicon.png" />
    @RenderSection("metatags", required: false)

    <link href="~/Content/site/loading.min.css" rel="stylesheet" />
    <link rel="preload" as="font" href="/Content/site/fonts/source/bitter-rose/bitter_rose-webfont.woff" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Content/site/fonts/source/ph-demo/phdemo-600regularcaps-webfont.woff" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Content/site/fonts/source/ionicons/ionicons.woff" type="font/woff2" crossorigin="anonymous">
</head>

<body class="inner">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6PVQVL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="loading">
        <div class="spinner"></div>
    </div>

    <div class="site">
        @Html.Partial("_header")
        @RenderBody()
        @Html.Partial("_footer")
        @Html.Partial("_lead")
    </div>

    <link rel="preload" href="/bundles/inner-css" as="style">

    @Scripts.Render("~/bundles/site-js")
    @Scripts.Render("~/bundles/site-dynamic-js")
    @*@Styles.Render("~/bundles/inner-css")*@
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e19923ea-5b2b-41d0-99c3-d5c04f224c5d-loader.js"></script>
</body>
</html>